<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>프로젝트 페이지</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">

</head>
<body>
<div class="masthead">
    <nav>
      <ul class="nav nav-justified">
        <li class="active"><img src="/img/logo.png" href="#" alt="logo" width="100" height="80" ></li> 
        <li><a href="/regcarform">차량 등록</a></li>
        <li><a href="/carlist">차량 조회/삭제</a></li>
        <%if(!locals.user.email){%>
        <li><a href="/loginform">로그인</a></li>
        <li><a href="/registerform">회원가입</a></li>
        <%}else{%>
        <li><a href="/profileform">마이페이지</a></li>
        <li><a href="/logout">로그아웃</a></li>
        <%}%>
      </ul>
    </nav>
  </div>
  <div>
        <%if(user){%>
    <div>
        <p class="h1"> 마이페이지 </p>
        <hr>
        <p> 이름 : <%= user.name %> </p>
        <p> 이메일 : <%= user.email %> </p>
    </div>
        <%}%>
  </div>   
</body>
</html>